html {
	zoom: 150%;
}
body {
	background-color: white;
	font-family: Arial;
	padding-bottom: 1000px;
}
h1 {
	background-color: #33807D;
	color: white;
	padding: 5px;
	margin-bottom: -10px;
	cursor: pointer;
	border-radius: 5px;
}
h2 {
	background-color: #207FA2;
	color: white;
	padding: 5px;
	margin-left: 10px;
	margin-bottom: -10px;
	cursor: pointer;
}
h3 {
	background-color: #E9ECEF;
	padding: 10px;
	color: black;
	margin-left: 20px;
}
h4, h5 {
	padding-left: 10px;
	margin-left: 20px;
	color: black;
}
p, img, iframe {
	max-width: 90%;
	color: black;
	padding-left: 20px;
	margin-left: 20px;
}
hr {
	margin-left: 30px;
}
ul, ol {
	color: black;
	margin-left: 20px;
}
table, th, td {
	border-collapse: collapse;
	margin-left: 25px;
}
#takaisin {
	background-color: #33807D;
	color: white;
	padding: 5px;
	margin-bottom: -10px;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}