body {
	background-color: white;
	color: white;
	font-family: Arial;
	padding-bottom: 1000px;
}
h1 {
	background-color: #33807D;
	padding: 10px;
	margin: 0px 0px 10px 0px;
	cursor: pointer;
}
h2 {
	background-color: #207FA2;
	padding: 10px;
	margin: 0px 0px 10px 10px;
	cursor: pointer;
}
h3 {
	background-color: #E9ECEF;
	padding: 10px;
	color: black;
	margin: 0px 0px 10px 20px;
	cursor: pointer;
}
h4 {
	color: black;
}

a {
	text-decoration: none;
	background-color: #00AFB950;
	display: block;
	padding: 5px;
	color: black;
	margin: 0px 0px 10px 30px;
	cursor: pointer;
	
}
p {
	color: black;
	padding-left: 20px;
	margin: 0px 0px 10px 20px;
}