#sidenav {
	height: 100%;
	width: 45px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	transition: 0.4s;
}

.link {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #00f100;
	display: block;
}

#sidenav .link:hover {
	color: #f1f1f1;
}

#navbutton {
	margin-left: 5px;
}

#bar1, #bar2, #bar3 {
	width: 35px;
	height: 5px;
	background-color: #FFF;
	color: white;
	margin: 6px 0px;
	transition: 0.4s;
}

#main {
	margin-left: 60px;
}