:root {
	--red: #931621;
	--red2: #F6C4C8;
	--red25: #93162125;
	--green: #60993E;
	--green2: #DEEED5;
	--green25: #60993E25;
	--blue: #00AFB9;
	--blue2: #BEFCFF;
	--blue25: #00AFB925;
	--purple: #B47EB3;
	--purple2: #F0E5F0;
	--purple25: #B47EB325;
	--orange: #F17105;
	--orange2: #FEE2CB;
	--orange25: #F1710525;
	--indent: 5px;
}
body {
	font-family: Lato, sans-serif;
	margin-bottom: 100px;
	font-size: 12px;
}
h1 {
	display: none;
}
h2 {
	background-color: var(--orange);
	color: white;
	padding: 5px;
	margin-bottom: -10px;
	font-size: 20px;
	border-radius: 5px;
	display: none;
}
h2.activeChapter{
	display: block;
}
h3 {
	background-color: var(--green);
	color: white;
	margin-bottom: -10px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
	padding: 5px;
}
h3:hover {
	color: var(--orange2);
}
p {
	text-align: justify;
}
.indent {
	margin-left: var(--indent);
}
img {
	height: auto;
	max-width: 95%;
	margin-left: 0px;
}
.example {
	margin-left: 0px;
	background-color: var(--blue25);
	padding: 1px var(--indent);
	border-radius: 5px;
}
.example p:first-child {
	margin-top: var(--indent);
}
#nav {
	display: flex;
	align-items: center;
	height: 40px;
	background-color: var(--red);
	color: white;
	padding: 10px;
	margin: -5px;
	font-size: 200%;
	border-radius: 5px;
}
#button {
	width: 50px;
	flex-shrink: 0;
	cursor: pointer;
}
#bar1, #bar2, #bar3 {
	width: 35px;
	opacity: 100;
	height: 5px;
	background-color: #FFF;
	margin: 6px;
	transition: 0.4s;
}
#caption {
	display: none;
}
#course {
	width: 120px;
	margin-left: auto;
	font-size: 16px;
	text-align: right;
	text-decoration: none;
	color: inherit;
}
#links {
	display: none;
	padding: 5px;
	margin: 2px;
	width: 95%;
	box-shadow: 0px 8px 16px 0px rgba(0;0;0;0.2);
	position: absolute;
	left: 0;
	top: 60px;
	z-index: 1;
	background-color: var(--orange);
	border-radius: 5px;
}
.link {
	padding: 8px;
	text-decoration: none;
	font-size: 20px;
	z-index: 2;
	color: white;
	display: block;
	cursor: pointer;
}
.link:hover {
	background-color: var(--purple);
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
table {
	border-collapse: collapse;
	margin: 0px 0px 10px var(--indent);
}
th, td {
	border: 1px solid black;
	text-align: center;
	padding: 3px;
	hyphens: manual;
}
.shrink > tbody > tr > td{
	font-size: 80%;
	padding: 1px !important;
}
.narrow {
	display: block;
}
.wide {
	display: none;
}
.summary {
	padding: 5px;
	margin: 5px;
	background-color: var(--purple2);
	border-radius: 3px;
	box-shadow: 2px 2px black;
}

.summary > h4:first-child {
	margin-top: 0px;
}